.app-main {
  width: 70%;
  height: 100vh;
  overflow-y: scroll;
}

.app-main-note-edit {
  padding: 25px;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: none;
  margin: 0 auto 20px;
  width: 90%;
  height: 60vh;
  padding: 10px 20px;
  resize: none;
  font-size: 16px;
  border-radius: 10px;
  background: #ebebeb;
  box-shadow: inset 3px 3px 5px #c3c3c3, inset -3px -3px 5px #ffffff;
}
.app-main-note-edit input:focus,
textarea:focus {
  outline: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

.app-main::-webkit-scrollbar {
  display: none;
}

.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  text-align: center;
  line-height: 100vh;
  font-size: 2rem;
  color: #999;
}
