button {
  background: none;
  border: none;
  color: #08c;
  margin: 0;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
}

.app-sidebar {
  width: 30%;
  height: 100vh;
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
}

.app-sidebar-header h1 {
  margin: 0;
}

.app-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}

.app-sidebar-notes::-webkit-scrollbar {
  display: none;
}

.app-sidebar-note {
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 20px;
  background: #ebebeb;
  box-shadow: 5px 5px 10px #c3c3c3, -3px -3px 10px #ffffff;
  margin: 25px 20px;
}

.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}

.sidebar-note-title strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-sidebar-note p {
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-sidebar-note small {
  color: #999;
  display: block;
  text-align: right;
}

.app-sidebar-note:hover {
  background-color: #dbdbdb;
}

.app-sidebar-note.active {
  background-color: #dbdbdb;
}

svg {
  color: #999;
}

.add {
  font-size: 25px;
  cursor: pointer;
}
